<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\Release\net7.0\publish\osx-x64\</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
    <_TargetId>Folder</_TargetId>
    <TargetFramework>net7.0</TargetFramework>
    <RuntimeIdentifier>osx-x64</RuntimeIdentifier>
    <SelfContained>false</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>
    <UseAppHost>true</UseAppHost>
  </PropertyGroup>
  <PropertyGroup>
    <CFBundleName>$(Description)</CFBundleName>
    <CFBundleDisplayName>$(Description)</CFBundleDisplayName>
    <CFBundleIdentifier>com.yariker.xfontgen</CFBundleIdentifier>
    <CFBundleVersion>$(VersionPrefix)</CFBundleVersion>
    <CFBundleShortVersionString>$(VersionPrefix)</CFBundleShortVersionString>
    <CFBundlePackageType>APPL</CFBundlePackageType>
    <CFBundleSignature>????</CFBundleSignature>
    <CFBundleExecutable>xfontgen</CFBundleExecutable>
    <CFBundleIconFile>Icon.icns</CFBundleIconFile>
    <NSPrincipalClass>NSApplication</NSPrincipalClass>
    <NSHighResolutionCapable>true</NSHighResolutionCapable>
  </PropertyGroup>
  <Target Name="Package" AfterTargets="Publish" DependsOnTargets="BundleApp">
    <Exec Command="tar -acf xfontgen.$(RuntimeIdentifier).zip *.app" WorkingDirectory="$(PublishDir)" />
  </Target>
  <Target Name="CleanPackage" BeforeTargets="BundleApp">
    <ItemGroup>
      <FileToDelete Include="$(PublishDir)*.zip" />
    </ItemGroup>
    <Delete Files="@(FileToDelete)" />
  </Target>
</Project>